body {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: repeat(3 1fr);
  font-family: Rockwell, "Courier Bold", Courier, Georgia, 		Times, "Times New Roman", serif;
  color: #fff;
  background-color: #161616;
}

.status {
	grid-column: 2;
	grid-row: 2;
	text-align: center;


}

p.temp-type {
  padding-top: 5px;
  cursor: pointer;
  color: #FFFFFF;
}

.status p {
  font-size: 1.8em;
  text-transform: capitalize;
	margin-bottom: 5px;
}

.header {
	margin-top: 20px;
 	margin-bottom: 20px;
	grid-column: 2;
	text-align: center;
	grid-row: 1;
}

.weather-icon {
	grid-column: 2;
	grid-row: 3;
}

h1 {
	font-size: 3rem;
	margin-bottom: 5px;
}

h2 {
	font-size: 2.6rem;
	margin-bottom: 5px;
}

h3 {
	  font-size: 1.8em;

	margin-bottom: 10px;
}
h3.desc:first-letter {
	text-transform: uppercase;
}
#celsfahr {
	display: inline-block;
	background: #686868;
	border-radius: 10px;
	padding: 13px 15px 5px 5px;
}

@media screen and (max-width: 700px) {
  h1 {
    font-size: 2.8rem;
    margin-bottom: 5px;
  }
  h2 {
    font-size: 2rem;
    margin-bottom:5px;
  }
  h3 {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  #weather-location {
    font-size: 1.5rem;
    margin-bottom: 5px;
  }
  #celsfahr {
  	display: inline-block;
  	background: #686868;
  	border-radius: 10px;
  	padding: 13px 15px 5px 5px;
    font-size: 1.3rem;
  }
}

.clockbox {
  grid-column: 1;
  grid-row: 1;
}
